.main-container {
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #3f7aad;
  background: linear-gradient(100deg, #7935af 0%, #3f7aad 100%);
}
